/* Color and Spacing Variables */
:root {
    --Light: #e6e5ec;
    --medium: #867fa0;
    --dark: #0d0042;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1;
    color: var(--dark);
}

textarea{
    background: white;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    width: 100%;
    padding: 10px;
    height: 80px;
    margin: -12px;
}
h1 {
    padding-bottom: 10px;
}
p {
    padding: 10px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
    color: var(--dark);
    border-radius: 0;
    border-bottom: 10px solid var(--dark);
    padding: 4rem 2rem 2rem;
}

.description{
    white-space: pre-wrap;
    padding: 10px 0;
}

.time-block{
    text-align: center;
    border-radius: 15px;
}

.row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid white;;
}

.hour {
    background-color: #ffffff;
    color: var(--dark);
    border-top: 1px dashed var(--dark);
}

.past {
    background-color: var(--Light);
    color: var(--Medium);
}

.present {
    background-color: var(--dark);
    color: white;
}

.future {
    background-color: var(--medium);
    color: var(--dark);
}

.saveBtn {
    border-left: 1px solid white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: var(--dark);
    color: white;
    padding: 31px;
}

.saveBtn:hover {
    color: fuchsia;
    transition: all .3s ease-in-out;
}

.fa-save:before {
    content: "\f0c7"
}
